/* 0ba0db */
/* UTILITIES */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
body {
  font-family:Nunito,sans-serif;
  background-color:rgb(240, 240, 240);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.navbar {
  position: fixed;
  top:0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:4px;
  background-image: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
  color: #fff;
  box-shadow: 0px 4px 11px 2px rgba(0, 0, 0, 0.25);
}

.nav-links a {
  color: #fff;
}


.logo{
  margin-left: 5px;
  cursor: pointer;
  transition: all 1s ease;
}
.logo:hover{
  transform: rotateY(180deg);
}

/* Clock */




/* Navbar menu */

.menu {
  display: flex;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  margin-left: 5px;
}
.menu .home:hover {
  background-color: #04707e;
  border-radius:10px;
  transition: 0.3s ease-in-out;
}

.menu .home {
  margin-top:8px;
  padding:5px 10px;
  background-color: #0298a3;
  border-radius:5px;
  margin-left: 900px;
}

/* input[type="checkbox"] {
  display: none;
} */



/* Applying media queries */

@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: #0ba0db;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
    z-index: 4;
    opacity: 0.9;
  }

  .menu li+li {
    margin-top: 12px;
  }



  .hamburger {
    display: block;
  }

  .clock {
    font-size: 25px;
  }
}

.sidenav {
  width: 230px;
  height: auto;
  position:absolute;
  left: 0px;
  top:57px;
  bottom:0px;
  background-image: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}
 /* .hs{
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size:1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height:50px;
  background-color: black;
}
.heading {
  color: transparent;
  -webkit-text-stroke: 1px gray;
}
.hover-heading {
  position: absolute;
  inset: 0;
  width: 0%;
  font-size:1rem;
  letter-spacing: 3px;
  color:#fff;
  overflow: hidden;
  border-right: 6px solid #0cecfc;
  transition: 0.5s ease-in-out;
}
.hs:hover .hover-heading{
  width: 100%;
} */

.sidenav ul {
  padding-top:5px;
  position: relative;
  list-style-type: none;
  height: auto;
  background-color: none;
}

.sidenav ul li a {
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  padding: 10px;
  height: 50px;
  transition: .3s ease;
}

.sidenav ul li a:hover {
  background: #4520c9;
  color: #fff;
}

.sidenav ul ul {
  padding-top: 0px;
  position: absolute;
  left: 200px;
  width: 200px;
  top: 0;
  display: none;
  background-image: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}

.sidenav ul ul span {
  position: absolute;
  right: 20px;
  font-size: 1.15em;
}

.span1 {
  position: absolute;
  right: 20px;
  font-size: 1.5em;
}

.sidenav ul .dropdown {
  position: relative;

}

.sidenav ul .dropdown:hover>ul {
  display: initial;
}


.sidenav ul .dropdown1 ul {
  position: absolute;
  left:230px;
  top:0px;
  width:200px;
  background-color: none;
}

.sidenav ul .dropdown1:hover>ul {
  display: initial;
}
.sidenav ul .dropdown2 ul {
  position: absolute;
  left:230px;
  top:200px;
  width:200px;
  background-color: none;
}

.sidenav ul .dropdown2:hover>ul {
  display: initial;
}

.glow{
  background-color: #000;
  min-height:5vh;

}

.glow h1{
  padding:5px;
  color: #484848;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  margin-left: 25px;
  margin-right:20px;
  cursor: pointer;
}
.glow h1 span{
  transition: .5s linear
}
.glow h1:hover span:nth-child(1){
  margin-right: 5px;
}
.glow h1:hover span:nth-child(2){
  margin-left: 30px;
}
.glow h1:hover span{
  color: #fff;
  text-shadow: 0 0 10px #fff,
               0 0 20px #fff, 
               0 0 40px #fff;
} 