body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#notes-container {
    max-width: 400px;
    width: 100%;
    background-color: #d41010;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    overflow-x: auto;
}

textarea {
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
    resize: none;
    overflow-y: auto;
    border-radius:5px;
}