body {
  font-family: 'Poppins', sans-serif;
}
.script {
    position: absolute;
    width:0;
    top: 0;
    left:0;
    bottom:20px;
    background: #e0e0e0;
    border-radius: 10px;
    box-shadow: 5px, 7px, 10px, rgba(0, 0, 0, .5);
    z-index: -1;
  
  
  }
.text {
  text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: #707070;
    padding:230px;
    gap: .10rem;
  }